header{
    width: 100%;
    height: 50px;
    background:rgb(4, 61, 75);
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header h1, .icon-laptop{  
    margin-top: 0 ;
    margin-bottom: 0 ;
    font-size: 36px ;
    float: left;
}

header .icon-laptop{
    margin: 6px 5px 0 0;
}

header .volver{
    float: right;
    margin: 10px auto;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

header #menu-ico, #menu-ico2{
    display: none;
}

header .container{
    display: table;
}
/*
header #menu-ico2{
    display: none;
}*/

#menu-bar, #submenu-bar{
    display: none;
}

.menu{
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    background:rgb(4, 61, 75);
    display: flex;

    top: 200;
    left: 0;
    float: right;
}

.menu a, .menu-items{
    color: #fff;
    text-decoration: none;
    padding: 15px;

    border: none;
    font-size: 14px;
    height: 50px;
    cursor: pointer;
}

.menu a:hover, .menu-items:hover{
    background: rgba(255, 255, 255, 0.3);
}

#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}

#menu-bar:checked ~ #menu-ico{
    display: none;
}

#menu-bar:checked ~ #menu-ico2{
    display: block;
}

/*SUBMENU HOME*/
.tab1 .info .submenu{
    width: 100%;
    float: left;    
    height: 100px;
}

.tab1 .info ul{
    font-size: 30px;
    list-style: none;
}

.tab1 .info #nav > li{
    float: left;
}

.tab1 #submenu-ico{
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    color: #fff;
}


.submenu-ul{
    width: 1000px;
    font-size: 30px;
    display: flex;

    padding: 0 250px;
    background-color: rgba(4, 61, 75, 0.9);
    color: #fff;
    transition: all 0.55s;
    transform: translateX(-150%);
    position: absolute;
    min-width: 140px;
}

.submenu-ul .li{
    padding: 0 50px 10px;
    border-right: 1px solid;
    border-left: 1px solid;
}

.submenu-ul .li:hover{
    background: rgba(255, 255, 255, 0.3);
}

/*BOTONES*/

#radio1, #radio2, #radio3, #radio4, 
#radio1-1, #radio1-2, #radio1-3, #radio1-4{
    display: none;
}

#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3,
#radio4:checked ~ .tab4
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0vh);
}


#radio1-1:checked ~ .tab1-1,
#radio1-2:checked ~ .tab1-2,
#radio1-3:checked ~ .tab1-3,
#radio1-4:checked ~ .tab1-4
{
    display: block;
}

#submenu-bar:checked ~ .submenu-ul{
    transform: translateX(0%);
}

#submenu-bar:checked ~ .submenu-ico{
    background-color: rgba(2, 34, 43, 0.9);
    color: #fff;
}


/*Modo PC*/
@media (max-width:1024px){

    header{
        height: 200px;
    }

    header h1, .icon-laptop{
        margin: 60 0;
        font-size: 70px;
        font-weight: 5 ;
    }

    header .icon-laptop{
        margin-top: 70px;
    }

    header .volver{
        font-size: 70px;
        margin: 75px 30px;
    }

    header #menu-ico, #menu-ico2{
        display: block;
        float: right;
        font-size: 70px;
        margin: 75px 30px;
        cursor: pointer;
    }

    header #menu-ico2{
        display: none;
    }

    .menu{
        position: absolute;
        width: 100%;
        height: 100vh;
        transform: translateX(200%);
        background: rgba(0, 50, 50, 0.9);
        display: block;
        
        transition: all 0.55s;
        cursor: pointer;

    }

    .menu a, .menu-items{
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.9);
        border-top: 1px solid rgba(255, 255, 255, 0.9);
        font-size: 50px;
        height: 100px;

    }

    .tab1 .info ul{
        font-size: 50px;
    }

    .submenu-ul{
        width: 90%;
        display: block;
        padding: 0 0;
    }

    .submenu-ul .li{
        padding: 40px;
        border-bottom: 1px solid;

    }

    
}
