<footer>
  <p>© 2025 - Elelis page - Portafolio</p>

  <ul>
    <li>
      <a
        href="http://github.com/Elias288/ElelisPage/"
        target="_blank"
        rel="noopener noreferrer">Repositorio del Portafolio</a
      >
    </li>
  </ul>
</footer>

<style>
  footer {
    height: 10rem;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid var(--card-ln);
    margin-top: 2rem;
    color: var(--muted);
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
    padding: 0.2rem 0.3rem;
    border-radius: 10px;
  }
  a:hover {
    background: var(--card-bg-hover);
    color: var(--card-text-hover);
  }
  a::before {
    content: "📂";
  }
</style>
