---
import Layout from "@layouts/Layout.astro";
import SobreMi from "@components/SobreMi.astro";
import Habilidades from "@components/Habilidades.astro";
import Proyectos from "@components/Proyectos.astro";
import Experiencia from "@components/Experiencia.astro";
import Educacion from "@components/Educacion.astro";
import Contacto from "@components/Contacto.astro";
---

<Layout>
  <section id="inicio">
    <div class="inicio__container">
      <h1>Hola, soy <span>Elías Bianchi</span></h1>
      <p>Desarrollador informático, consultor en Frame banking.</p>
      <p>
        Diseño y construyo aplicaciones modernas que combinan eficiencia,
        escalabilidad y una gran experiencia de usuario.
      </p>
      <Contacto />
    </div>
  </section>

  <SobreMi />

  <Habilidades />

  <Proyectos />

  <Experiencia />

  <Educacion />
</Layout>

<style>
  #inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;

    overflow-x: hidden;

    /* se sobrescribe porque al estar centrado con flex provoca un movimiento molesto */
    min-height: 100vh;
  }

  .inicio__container {
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-name: right_appear;
    animation-timing-function: cubic-bezier(0.74, 0.14, 0.5, 1.73);
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  span {
    color: var(--primary);
    animation: light 5s linear infinite;
    animation-delay: 2s;
  }

  @keyframes light {
    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
      color: var(--primary);
      text-shadow: none;
    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65.1%,
    80.1%,
    90%,
    92.1%,
    100% {
      color: #c9c9c9;
      text-shadow:
        0 0 10px var(--secondary),
        0 0 20px var(--secondary),
        0 0 40px var(--secondary),
        0 0 80px var(--secondary),
        0 0 160px var(--secondary);
    }
  }
</style>
