<section id="educacion">
  <h2>Educación / Certificaciones</h2>

  <div class="timeline">
    <div class="timeline-item">
      <h3>UDELAR - UTEC</h3>
      <span>2018 - 2024</span>
      <p>Carrera terciaria de Tecnólogo en Informática..</p>
    </div>

    <div class="timeline-item">
      <h3>Instituto Tecnológico Superior de Paysandú - UTU</h3>
      <span>2015 - 2017</span>
      <p>Bachillerato en Informática.</p>
    </div>

    <div class="timeline-item">
      <h3>Instituto Punto Com</h3>

      <span>2017</span>
      <p>Programación Visual .NET.</p>

      <span>2016</span>
      <p>Certificación en Mantenimiento y reparación de PC II.</p>

      <span>2015</span>
      <p>Certificación en Mantenimiento y reparación de PC I.</p>

      <span>2014</span>
      <p>Certificación en Diseño gráfico.</p>
    </div>
  </div>
</section>

<style>
  .timeline {
    border-left: 2px solid var(--secondary);
    padding-left: 1rem;
    margin-top: 2rem;
  }

  .timeline-item {
    margin-bottom: 1.5rem;
  }

  h3 {
    color: var(--primary);
    margin-bottom: 0.3rem;
  }

  span {
    font-size: 0.9rem;
    color: var(--muted);
    position: relative;
  }

  span::before {
    --dot-size: 10px;

    content: ""; /* obligatorio para que aparezca */
    position: absolute; /* para colocarlo donde quieras */
    left: calc(
      -1rem - var(--dot-size) / 2 - 1px
    ); /* alineado al borde izquierdo */
    transform: translateY(200%); /* corrección de centrado */
    width: var(--dot-size); /* tamaño del círculo */
    height: var(--dot-size);
    background-color: var(--secondary); /* color del círculo */
    border-radius: 50%; /* lo convierte en círculo */
  }
</style>
