<section id="sobre-mi">
  <h2>Sobre mí</h2>
  <p>
    Me apasiona aprender nuevos lenguajes y tecnologías, disfruto enfrentarme a
    desafíos complejos y encontrar soluciones que no solo funcionen hoy, sino
    que sean eficientes, escalables y sostenibles en el tiempo.
  </p>
  <p>
    Siempre estoy buscando superar algún reto personal, aplicar nuevas
    tecnologías y desarrollarme como persona.
  </p>
</section>
