---
interface Props {
  title: string;
  description: string;
  id: string;
  date: Date;
  img?: string;
  tags?: string[];
  suggestedPosts?: string[];
}

const { title, description, id, date, tags, suggestedPosts, img }: Props =
  Astro.props;
---

<a class=`postCard` href=`${import.meta.env.BASE_URL}blog/post/${id}`>
  <div class="border">
    <small id="date">{new Date(date).toLocaleDateString()}</small>
    <strong id="title">{title}</strong>
    <p id="description">{description}</p>
  </div>
</a>

<style>
  .postCard {
    background-color: var(--base);
    max-width: 700px;
    min-width: var(--min-width);

    display: block;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-inline: auto;

    cursor: pointer;
    text-decoration: none;
    transition: transform 0.5s;
    overflow: hidden;
  }
  .postCard * {
    font-family: monospace;
  }
  .postCard:hover {
    transform: translateY(-15px);
  }

  .border {
    min-height: 70px;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    padding: 5px 10px 10px;
    position: relative;
  }

  #date,
  #title {
    color: var(--secondary);
    background-color: var(--base);
    font-weight: bold;
  }

  #date {
    padding: 0 5px;
    z-index: 1;
    position: absolute;
    top: -10px;
    right: 20px;
  }

  #title {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 0.5rem;
  }

  #description {
    margin: 0;
    color: var(--text);
  }
</style>
