<div class="project">
  <h3>Game of Life</h3>

  <img src="/images/GameOfLife.webp" alt="" />

  <p>
    Implementación del juego de Jhon Conway "Game of life", un juego sin jugador
    que simula un comportamiento complejo mediante reglas simples.
  </p>

  <div class="links">
    <a
      href="https://codepen.io/sbianchi/pen/gORGZae"
      target="_blank"
      class="codepen"
      rel="noopener noreferrer">Repositorio</a
    >
  </div>
</div>
