<div class="project">
  <h3>Gym App</h3>

  <!-- <img src=`images/.webp` alt="" /> -->

  <p>
    Proyecto full-stack para el seguimiento de las rutinas del gimnasio en una
    aplicaci贸n movil. en una aplicaci贸n movil. en una aplicaci贸n movil. en una
    aplicaci贸n movil.
  </p>

  <div class="links">
    <a
      href="https://github.com/Elias288/Gym_App"
      target="_blank"
      class="github"
      rel="noopener noreferrer">Repositorio</a
    >
    <!-- <a href="#" target="_blank" rel="noopener noreferrer">Demo</a> -->
  </div>
</div>
