<div class="project">
  <h3>Hormiga de Langton</h3>

  <img src=`images/hormigaDeLangton.webp` alt="" />

  <p>
    Implementación de la Maquina de turing - La hormiga de Langton es un una
    máquina de Turing bidimensional con un conjunto de reglas muy sencillo, que
    sin embargo da lugar a comportamientos emergentes complejos.
  </p>

  <div class="links">
    <a
      href="https://github.com/Elias288/hormiga_de_langton"
      target="_blank"
      class="github"
      rel="noopener noreferrer">Repositorio</a
    >
    <a
      href="https://elias288.github.io/hormiga_de_langton/"
      target="_blank"
      rel="noopener noreferrer">Demo</a
    >
  </div>
</div>
