<div class="project">
  <h3>Seguimiento Comida</h3>

  <!-- <img src=`images/.webp` alt="" /> -->

  <p>
    Aplicación <code>full stack</code> en <code>Angular</code> y backend en contenedores,
    de registro y seguimiento de los almuerzos, gestión de usuarios y sincrionización
    con base de datos.
  </p>

  <div class="links">
    <a
      href="https://github.com/Elias288/Seguimiento_Comida"
      target="_blank"
      class="gitlab"
      rel="noopener noreferrer">Repositorio</a
    >
  </div>
</div>
