import config from "@utils/page_config";
<div class="project">
  <h3>Servidor Personal</h3>

  <img src=`images/servidorPersonal.webp` alt="" />

  <p>
    Configuración desde 0 de un servidor, exponiendo servicios dentro de
    contenedores usando <code>Podman</code>, aplicando medidas de seguridad y
    encriptación <code>https</code>, y proxy reverso.
  </p>

  <div class="links">
    <a
      href="https://gitlab.com/bianchi.elias/servidor-personal"
      target="_blank"
      class="gitlab"
      rel="noopener noreferrer">Repositorio</a
    >
    <a
      href="https://home.ebianchiserver.duckdns.org/"
      target="_blank"
      rel="noopener noreferrer">Demo</a
    >
  </div>
</div>
