<div class="project">
  <h3>Template</h3>

  <!-- <img src="/images/.webp" alt="" /> -->

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo blanditiis
    cumque, laboriosam porro asperiores quibusdam quae fuga explicabo accusamus
    neque quos mollitia magni dolores nobis ut vel repellat deserunt quas?
  </p>

  <div class="links">
    <a href="#" target="_blank" class="gitlab" rel="noopener noreferrer"
      >Repositorio</a
    >
    <a href="#" target="_blank" rel="noopener noreferrer">Demo</a>
  </div>
</div>
