<div class="project">
  <h3>Web page utilities</h3>

  <img src="/images/webPageUtilities.webp" alt="" />

  <p>
    Página web estática desarrollada en <code>AstroJs</code> donde listar estilos
    útiles, comandos de <code>javascript</code>, ideas prácticas para proyectos
    webs y referencias a herramientas.
  </p>

  <div class="links">
    <a
      href="https://gitlab.com/bianchi.elias/web-page-utilities/"
      target="_blank"
      class="gitlab"
      rel="noopener noreferrer">Repositorio</a
    >
    <a
      href="https://web-page-utilities-272ebb.gitlab.io/"
      target="_blank"
      rel="noopener noreferrer">Demo</a
    >
  </div>
</div>
