<div class="project">
  <h3>Web Scraping Concept</h3>

  <img src="/images/webScrapingConcept.webp" alt="" />

  <p>
    Prueba de concepto de p치gina web est치tica haciendo web scraping con github
    actions, en cada ejecuci칩n de <code>github Action</code> se ejecuta el script
    de web scraping que genera el archivo <code>html</code> con la informaci칩n obtenida
  </p>

  <div class="links">
    <a
      href="https://github.com/Elias288/WebScraping-concept-test"
      target="_blank"
      class="github"
      rel="noopener noreferrer">Repositorio</a
    >
    <a
      href="https://elias288.github.io/WebScraping-concept-test/"
      target="_blank"
      rel="noopener noreferrer">Demo</a
    >
  </div>
</div>
