<div class="project">
  <h3>WordleToy</h3>

  <!-- <img src=`images/.webp` alt="" /> -->

  <p>
    Práctica de programación recreando el famoso juego WordleToy usando ReactJs,
    Nest y contenedores podman.
  </p>

  <div class="links">
    <a
      href="https://github.com/Elias288/WordleToy"
      target="_blank"
      class="github"
      rel="noopener noreferrer">Repositorio</a
    >
    <!-- <a href="#" target="_blank" rel="noopener noreferrer">Demo</a> -->
  </div>
</div>
