#menu{
    position: absolute;
    width: 100%;
    height: 100vh;
    transform: translateX(200%);
    background:rgb(4, 61, 75, 0.9);
    display: block;
    
    transition: all 0.55s;
    cursor: pointer;
    top: 70px;

}

#menu label{
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    font-size: 30px;
    height: 70px;
    padding: 15px;

    color: #fff;
    text-decoration: none;
}

#menu label:hover, #submenu label:hover{
    background: rgba(255, 255, 255, 0.3);
}

#rdHome:checked ~ #home, 
#rdAbout:checked ~ #about,
#rdPorfolio:checked ~ #portfolio{
    display: block;
}


#menuToggle{
    width: 30px;
    height: 30px;
    
    background: url('../img/menu.png');
    display: block;
    float: right;
    margin: 20px 10px;
    cursor: pointer;
    
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

#chmenu:checked ~ #menu{
    transform: translateX(0%);
}

#chmenu:checked ~ #menuToggle{
    background: url('../img/close.png');
    z-index: 1000;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

#submenu{
    width: 90%;
    float: left;
    position: absolute;
    background: var(--color-frente-transparente);
    transition: all 0.55s;
    transform: translateX(-150%);
}

#submenu-ico{
    width: 41px;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    color: #fff;
}

#submenu label{
    padding: 40px;
    display: block;
    border-bottom: 1px solid;
    color: #fff;
}

#chSubmenu:checked ~ #submenu{
    transform: translateX(0%);
}

#chSubmenu:checked ~ #submenu-ico{
    background: var(--color-frente-transparente);
    color: #fff;
}

#chBienvenida:checked ~ #bienvenida, 
#chLinux:checked ~ #linux,
#chLibrary:checked ~ #library{
    display: block;
}

@media (min-width:1024px){
    #menu{
        transform: translateX(0%);
        left: 0;
        float: right;
        width: auto;
        height: auto;
        position: static;
        display: flex;
    }

    #menu label{
        padding-top: 15px;
        border: none;
        font-size: 14px;
        height: 50px;
        cursor: pointer;
        padding: 15px 15px;
    }

    #menuToggle{
        display: none;
    }

    #submenu{
        width: 100%;
        display: flex;
        position: relative;
    }

    #submenu label{
        padding: 10px 50px;
        margin: auto;
        border-bottom: 0px;
    }
}
